.lead__subtitle {
  font-weight: normal; 
  font-size: 30px;
  line-height: 36px;
  margin: 0px auto;
  padding-bottom: 64px;
  text-align: center;
  max-width: calc(100% - 245px*2);
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding-bottom: 56px;
        max-width: calc(100% - 212px*2);
    }
  }    
  
@media screen and (max-width: 1023px) {
    .lead__subtitle {
        max-width: calc(100% - 100px*2);
    }
}    
  
@media screen and (max-width: 767px) {
    .lead__subtitle {
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        max-width: calc(100% - 16px*2);
    }
}